# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Build / Dist
dist/
build/
.vite/

# Env files
*.env
backend/.env
frontend/frontendApp/.env

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.log
